/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

button {
    border: none;
}

:root {
    --light-color: rgb(255, 255, 255);
    --dark-color: rgb(0, 0, 0);
    --text-color: #333;
    --hover-color: red;
    --border-color: #dbdbdb;
    --admin-color: rgb(43,63,87);
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
}
